Repository vagmcs/python-blueprint, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, internal, testing

.github/labeler.yml:

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/**", ".pre-commit-config.yaml"]

docs:
  - changed-files:
      - any-glob-to-any-file: ["docs/**", "**/*.md"]

internal:
  - changed-files:
      - any-glob-to-any-file: ["project/**"]

testing:
  - changed-files:
      - any-glob-to-any-file: ["tests/**"]

💚 ci: dummy file
  .github/workflows/build-docs.yml
Labels: ci

💚 ci: Adds test workflow
  .github/pull_request_template.md
  .github/workflows/test.yml
Labels: ci, docs

💚 ci(test): Install python before dependencies
  .github/workflows/test.yml
Labels: ci

⬇️ dep-drop: returns 0.24.0 is not compatible with python 3.9
  poetry.lock
  pyproject.toml
Labels: none

💚 ci: Removes python 3.9 from test matrix
  .github/workflows/test.yml
  poetry.lock
  pyproject.toml
Labels: ci

✅ test: Adds conftest to ovewrite exitcode 5
  tests/conftest.py
Labels: testing

💚 ci: Adds alls-green@release to actions
  .github/workflows/pr-manager.yml
  .github/workflows/test.yml
Labels: ci

💚 ci: Updates release notes template
  docs/templates/release_notes.j2
Labels: docs

💚 ci: Adds bump and publish targets
  Makefile
Labels: none

➕ dep-add: pytest-sugar
  poetry.lock
  pyproject.toml
Labels: none

📝 docs: Simplifies PR template
  .github/pull_request_template.md
Labels: ci, docs

📝 Create LICENSE
  LICENSE
Labels: none

👷 build: :construction_worker: Use ruff instead of black
  Makefile
  poetry.lock
  pyproject.toml
Labels: none

👷 build: Removes black from pre-commit
  .pre-commit-config.yaml
  .python-version
Labels: ci

👷 build: Adds doctest options for pytest
  .pre-commit-config.yaml
  pyproject.toml
Labels: ci

👷 build: Enables ruff doctest format
  pyproject.toml
Labels: none

💚 ci: updates PR template
  .github/pull_request_template.md
Labels: ci, docs
